extends ../../layouts/default.pug

block main 
    h1(class='mb-4') Thêm mới quyền

    form(
        action=`${prefixAdmin}/roles/create`
        method="POST"
    )
        div(class="form-group")
            label(for="title") Tiêu đề
            input(
                type="text"
                class="form-control"
                name="title"
                id="title"
                required
                )
        div(class="form-group")
            label(for="desc") Mô tả
            textarea(
                type="text"
                class="form-control"
                id="desc"
                name="description"
                )
        div(class="form-group")
            button( 
                type="submit"    
                class="btn btn-primary"
                ) Tạo mới