extends ../../layouts/default.pug


block main 
    if(role.permissions.includes("accounts_view"))
        h1 Danh sách tài khoản 
        .card-header Danh sách
            .col-4.text-right
                a(
                    href=`${prefixAdmin}/accounts/create`
                    class="btn btn-outline-success"
                ) + Thêm mới
        table(
            class="table table-hover table-sm"
        )
            thead
                tr
                    th 
                        input(type="checkbox" name="checkall")
                    th STT
                    th Avatar
                    th Họ tên
                    th Phân quyền
                    th Email
                    th Trạng thái
                    th Hành động
                tbody  
                    each item, index in records    
                        tr 
                            td 
                                input(
                                    type="checkbox"
                                    name="id"
                                    value=item.id
                                    )
                            td #{index + 1}
                            td 
                                img(
                                    source=item.avatar
                                    alt=item.fullname
                                    width="100px"
                                    height="auto"
                                )
                            td #{item.fullname}
                            td #{item.role.title}
                            td #{item.email}
                            td 
                                if(item.status=="active")
                                    a(
                                        href="javascript:;"
                                        data-status="active"
                                        data-id=item.id 
                                        button-change-status  
                                        class="badge badge-success"
                                        ) Hoạt động
                                else 
                                    a(
                                        href="javascript:;"
                                        data-status="inactive"
                                        data-id=item.id 
                                        button-change-status  
                                        class="badge badge-success"
                                        ) Dừng hoạt động
                            td
                                a(
                                    class="btn btn-second btn-sm"
                                    href=`${prefixAdmin}/accounts/detail/${item.id}`
                                    ) Chi tiết
                                a(
                                    class="btn btn-warning btn-sm"
                                    href=`${prefixAdmin}/accounts/edit/${item.id}`
                                    ) Sửa
                                button(
                                    class="btn btn-danger btn-sm ml-1"
                                    button-delete
                                    data-id=item.id
                                    ) Xóa